<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yg.sleepingsurvey">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ButtonActivity1_1" />
        <activity android:name=".ButtonActivity1_2" />
        <activity android:name=".ButtonActivity1_3" />
        <activity android:name=".ButtonActivity1_4" />
        <activity android:name=".ButtonActivity1_5" />
        <activity android:name=".ButtonActivity1_6" />
        <activity android:name=".ButtonActivity1_7" />
        <activity android:name=".ButtonActivity2_1" />
        <activity android:name=".ButtonActivity3_1" />
        <activity android:name=".ButtonActivity3_2" />
        <activity android:name=".ButtonActivity3_3" />
        <activity android:name=".ButtonActivity3_4" />
        <activity android:name=".ButtonActivity3_5" />
        <activity android:name=".ButtonActivity3_6" />
        <activity android:name=".ButtonActivity3_7" />
        <activity android:name=".ButtonActivity3_8" />
        <activity android:name=".ButtonActivity4_1" />
        <activity android:name=".ButtonActivity4_2" />
        <activity android:name=".ButtonActivity4_3" />
        <activity android:name=".ButtonActivity4_4" />
        <activity android:name=".ButtonActivity4_5" />
        <activity android:name=".ButtonActivity4_6" />
        <activity android:name=".ButtonActivity4_7" />
        <activity android:name=".ButtonActivity4_8"></activity>
    </application>

</manifest>